<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}



<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>TechniColor Project</title>
</head>
<body>
{% block content %}

    <div class="row text-center">

        <div class="col-sm-6">
            <form method='POST' action='' class="bootstrap3" >
                {% csrf_token %}
                {% crispy signup %}
                 <!--<input class='btn btn-primary' type='submit' value='Sign up' />-->
            </form>
        </div>
        <div class="col-sm-6">
            <form method='POST' action='' class="bootstrap3" >
                {% csrf_token %}
                {% crispy login %}
                 <!--<input class='btn btn-primary' type='submit' value='Sign up' />-->
            </form>
        </div>

    </div>


{% endblock %}


</body>

</html>